 /* =========== common css start =========== */
h1,h2,h3,h4,h5,h6,
p,ul,ol{
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

 /* =========== common css End =========== */

  /* =========== nav section start =========== */
#primary_nav{
    background-color: #02918c;
}
#primary_nav #menu ul li a{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13.5px 25px;
    display: inline-block;
}
 /* =========== nev section end =========== */

  /* ===========  banner section css start =========== */
  #banner{
    background-image: url(./../image/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 728px;
    color: #ffffff;
}
#banner h4{
    font-size: 30px;
    font-weight: 400;
}
#banner h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
}
#banner p {
    font-size: 18px;
}
#banner img {
    margin:  38px 0;
}
#banner a {
    font-size: 14px;
    font-weight: 800;
    color:#0b1016 ;
    background-color: #cfc91d;
    padding: 14px 57px;
    transition: all linear.5s;
}
   /* =========== banner section css end =========== */

      /* =========== about section css start =========== */
      #about .section-info h2{
        font-size: 46px;
        font-weight: 800;
        text-transform: uppercase;
        color: #02918c;
      }
      #about .section-info p{
        font-size: 16px;
        line-height: 41px;
        color: #7e8287;
      }
      /* =========== about section css end =========== */
div h2 {
    color: #7e8287;
    
}